# OS
.DS_Store

# Python venv and artifacts
backend/.venv/
backend/__pycache__/
backend/*.pyc

# App artifacts
backend/uploads/
backend/model.pkl
backend/notreally.db
backend/.venv/
backend/uploads/
backend/training_500.log


# Large datasets
backend/DFD_manipulated_sequences/
backend/DFD_original sequences/

# Node
frontend/node_modules/
frontend/.next/

